@import "../../styles/colors.scss";

.modal-right {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #111827bf;
  animation: smooth 0.4s;
  .modal-body {
    width: min(300px, 90vw);
    background-color: white;
    padding: 100px 50px;
    box-shadow: 2px 2px 12px gray;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .message {
      font-weight: 500;
      font-size: 1.1rem;
      color: red;
    }
    .close {
      position: absolute;
      top: 30px;
      left: 30px;
      cursor: pointer;
      padding: 10px;
      transition: 0.3s;
      border-radius: 50%;
    }
    .close:hover {
      background-color: #ededed;
    }
    .form-item {
      margin: 10px 0;
    }
    .submit-btn {
      background-color: $brand;
      color: $white;
      margin: 20px 0;
      font-size: 16px;
      font-weight: 500;
      height: auto;
      cursor: pointer;
    }
    .select-input {
      border: none;
      background-color: transparent;
    }
    .select-input:focus {
      outline: none;
    }
    .error {
      color: red;
      display: block;
      text-align: center;
    }
  }
}

@keyframes smooth {
  from {
    right: -400px;
    background-color: #11182720;
  }
  to {
    right: 0;
    background-color: #111827bf;
  }
}
