@font-face {
  font-family: jakarta-bold;
  src: url(./bold.ttf);
}

@font-face {
  font-family: jakarta-extra-bold;
  src: url(./extrabold.ttf);
}

@font-face {
  font-family: jakarta-extra-light;
  src: url(./extralight.ttf);
}

@font-face {
  font-family: jakarta-light;
  src: url(./light.ttf);
}

@font-face {
  font-family: jakarta-medium;
  src: url(./medium.ttf);
}

@font-face {
  font-family: jakarta-regular;
  src: url(./regular.ttf);
}
