@import "../../../styles/colors.scss";

.faqs-container {
  .title {
    color: $white;
  }
  //   background: linear-gradient(to right, #18477b, #171421);
  //   background-image: radial-gradient(#171421, #18477b);
  background-color: #18477b;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  .faq {
    width: min(600px, 80vw);
    background-color: $brand-bg;
    color: $brand;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    span {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .answer {
    color: #f2f2f2;
    line-height: 1.8;
  }
}

@media (max-width: 600px) {
  .faq {
    font-size: 14px;
  }
}
