@import "../../../styles/colors.scss";

.faqs-container {
  .title {
    color: $white;
  }
  background-color: #0f2030;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  .faq {
    width: min(600px, 80vw);
    color: #1987eb;
    padding: 20px;
    cursor: pointer;
    span {
      font-size: 18px;
      font-weight: 500;
    }
    .icon {
      transition: 0.3s;
    }
    .open {
      transform: rotate(90deg);
    }
  }
  .answer {
    color: #f2f2f2;
    line-height: 1.8;
    transition: max-height 0.5s ease;
    overflow: hidden;
    max-height: 0;
  }
  .open-answer {
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  .faq {
    font-size: 14px;
    div {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
