@import "../../../styles/colors.scss";

.faqs-container {
    .title {
        color: $white;
    }
    background-image: url(../../../images/grid.svg);
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #271E2C;
    .faq {
        width: min(600px, 80vw) ;
        background-color: #333333;
        color: #967BB6;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        span{
            font-size: 18px;
            font-weight: 500;
        }
    }
    .answer {
        color: #F2F2F2;
        line-height: 1.8;
    }
}

@media (max-width: 600px) {
    .faq {
        font-size: 14px;
    }
}