@import "../../../styles/colors.scss";

.hero-section-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: $white;
  padding: 2rem;
  .left {
    h1 {
      color: #2b2e44;
      font-weight: 900;
      font-size: 3rem;
      .blue-text {
        color: #1271ff;
        margin: 0;
      }
    }
    p {
      line-height: 1.6;
    }
    .apply-btn {
      padding: 10px 1rem;
      background-color: #1271ff;
      color: $white;
      border: none;
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 1px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #08143d;
      }
    }
  }
  .right {
    display: flex;
    align-self: center;
    justify-self: center;
    iframe {
      width: min(90vw, 600px);
      height: min(380px, 60vw);
      border: none;
      border-radius: 10px;
    }
  }
}

@media (max-width: 600px) {
  .hero-section-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    iframe {
      height: 200px;
    }
  }
  .items {
    flex-direction: column;
  }
}
