@import "../../../styles/colors.scss";

.home-navbar-container {
  padding: 5px 18px;
  position: sticky;
  top: 0;
  box-shadow: 1px 2px 2px #f2f2f2;
  background-color: $white;
  z-index: 10;
  .logo {
    width: 80px;
    height: 80px;
  }
  .right {
    display: flex;
    gap: 30px;
    align-items: center;
    a {
      text-decoration: none;
      color: #909090;
      font-weight: 500;
    }
    .btn {
      background-color: #1270ff;
      border: none;
      color: $white;
      padding: 10px 20px;
      font-weight: 600;
    }
    .highlight {
      font-weight: 600;
      color: #08143d;
    }
  }
}

@media (max-width: 600px) {
  .home-navbar-container {
    padding: 10px;
    .logo {
      width: 40px;
      height: 40px;
    }
    .right {
      gap: 10px;
      width: 100%;
      font-size: 14px;
      justify-content: space-evenly;
      padding: 10px;
    }
    .left {
      display: none;
    }
  }
}
