@import "../../../styles/colors.scss";

.our-highlights-container {
    background-color: black;
    overflow: hidden;
    position: relative;
    .canvas {
        // background: linear-gradient(to top right, rgba(0, 0, 255, 0.139), rgba(0, 0, 255, 0.416));
        // color: rgba(0, 0, 255, 0.206) ;
    }
    .float-badge {
        position: absolute;
        top: 20px;
        left: 20px;
        border: 2px solid #413E49;
        color: $white;
        padding: 10px 20px;
        border-radius: 10px;
    }
}