@import "../../../styles/colors.scss";

.enroll-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  .enroll-modal-body {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: $white;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 30vw;
    input,
    button {
      padding: 10px !important;
      border: none;
      border: 1px solid #bcbcbc;
      border-radius: 10px;
    }
    button {
      cursor: pointer;
    }
    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
